:root {
    --accent: #2D9CDB;
    --grey: #444;
}

html {
    font-size:  100%;
    scroll-behavior: smooth;
}


body {
    font-family: Tahoma, sans-serif;
    line-height: normal;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin: 0 24px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

img {
    max-width: 100%;
    max-height: 100%;

    display: block;
    padding: 25%, 25%, 0;
    border-style: solid;
    border-color: black;
    
}


@media only screen and (max-width: 468px) {
    .page-header {
        flex-direction: column;
    }
}

.page-header {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 8px;*/
    background-color: #ffef78;
    margin-bottom: 3%;
    padding: 1% 2% 1.5%;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

.page-header nav a:not(:hover):not(:focus) {
    color: currentColor;
    text-decoration: none;
}

nav a {
    margin: 0 12px;
    font-size: 1.25em;
}

main {
    flex-grow: 1;
    max-width: 80ch;
    width: 100%;
    margin: 0 auto;
}

.page-footer {
    margin-top: 1%;
    text-align: center;
    margin-bottom: 8px;

}


a[href] {
    color: #1948ff;
    
}

a[href]:visited {
    color: #515d8c;
}


a[href]:hover {
    text-decoration: none;
}

a[href]:focus {
    outline: 2px solid var(--accent);
    outline-offset: 4px;
}

a[href^='http'] {
    padding-right: 1.25em;
  }

a[href^='http']::after {
    content: "→";
    margin-left: 0.2em;
    position: absolute;
    width: 1em;
    height: 1em;
    
  }


.footnotes {
    font-size: 0.8em;
}

/* Typography */
li + li {
    margin-top: 10px;
  }

p {margin-bottom: 1.15rem;margin-left: 3%;}

h1, h2, h3, h4, h5 {
  margin: 1.90rem 1rem 1.05rem;
  
  font-weight: 400;
  line-height: 1.15;
}

h1 {font-size: 3.052em;}

p.lsup {
    font-style: italic;
    opacity: 30%;
    font-size: medium;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5, .larger {font-size: 1.25em;}

small {font-size: 0.8em;}

/* backlinks */
.backlinks-title {
    margin-bottom: 0;
}

.backlinks-container {
    margin-top: 0;
}

.backlinks-default {
    margin-top: 0;
    margin-left: 16px;
    color: var(--grey);
}

.backlink__preview {
    display: none;
    
    position: absolute;
    bottom: 8px;
    left: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
    width: 348px;
    max-height: 148px;
    overflow: hidden;
}
.backlink__preview::after {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, white);
    width: 100%;
    height: 24px;
}

.backlink__preview h1 {
    font-size: 1.2rem;
    margin-top: 8px;
    font-weight: bold;
}

.backlink {
    width: fit-content;
    position: relative;
}

.backlink:hover {
    padding-right: 4px; /* Allow mouse to travel between link and modal */
}

.backlink:hover .backlink__preview {
    display: block;
}

/* details & summary */

/* Light styling for presentation */
details {
    margin-left: 3%;
  border-block-end: 1px solid #000;
  margin-block: .5rem;
  padding-block: .5rem;
}

summary {
  /* Pin the custom marker to the container */
  position: relative;
  /* Register summary as an anchor element */
  anchor-name: --summary;
  
  &::marker {
    content: "";
  }
  
  &::before,
  &::after {
    /* Custom marker dimensions */
    content: "";
    border-block-start: 3px solid rgb(0, 0, 0);
    height: 0;
    width: 1rem;
    
    /* Positions the lines */
    inset-block-start: 50%;
    inset-inline-end: 0;
    
    /* Anchor the shape to the summary */
    position: absolute;
    position-anchor: --summary;
    position-area: top end;
  }
  
  /* Rotate just the ::after line to create a "+"" shape */
  &::after {
    transform: rotate(90deg);
    transform-origin: 50%;
  }
}

/* Rotate the line when open */
details[open] summary::after {
  transform: rotate(0deg);
}

/* toots */

/*https://github.com/sampsyo/emfed/blob/main/toots.css */

.toots {
    max-width: 100%;
    max-height: 100%;
    background-color: #ffef78;;
    color: black;
    font-family: Inter, sans-serif;
    padding: 2%;
    border-style: solid;
  border-color: black;
  line-height: normal;
}

.toots a {
    padding-right: 0;
}

.toots a[href^='http']::after {
    display: none;
}


.toot .user {
    display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-content: flex-start;
  height: 100%;  /* Avatar height. */
  width: 100%;
  column-gap: 0.5rem;
  text-decoration: none;
  color: inherit;
    padding: 0;
    line-height: 3em;
    
  }

  .toot .avatar {
    max-width: 15%;
    max-height: 15%;
    border-radius: 4px;
    border-style: solid;
     border-color: black;
     padding: 0%;
     
  }  

  .toot .display-name {
    font-weight: bolder;
    display: block;
    font-size: 110%;
    color: black;
   
}

.toot .username {
    display: block;
    margin-right: 1em;
    color: #945201;
    font-size: 80%;
}




.toot .user:hover .display-name {
    text-decoration: underline;
    
  }

  
.toot .boost {
  margin-bottom: 0.25rem;
  column-gap: 0.25rem;
    font-style: italic;
    font-size: small;
    font-weight: lighter;
    line-height: 2em;
    
  }


.toot .boost:before {
    content: "↩";
    font-size: 140%;    
}

.toot .boost .username {
    display: none;
  }

  .toot .permalink {
    color: #945201;
   display: block;
   text-align: end;
}

.toot .permalink:hover {
    text-decoration: underline;
  }


  .toot .body {
    clear: both;
    margin-top: 1em;
    font-weight: lighter;
  }
  
  .toot .body a {
    overflow-wrap: anywhere;
    
  }
  
  /* Weird trick to keep the text in the page but not display it. */
  .toot .body .invisible {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    position: absolute;
  }
  
  .toot .body .ellipsis::after {
    content: "…";
  }

  .toot .attachment {
    display: inline;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 4px;
  }
  
  .toot .attachment img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-style: solid;
    border-color: black;
    padding: 0%;
  }


.toot {
    border-bottom: 1px solid black;
    padding: 1rem;
  }


.toots a[href^='http']::after {
    content: none;
    content-visibility: hidden;
    margin-left: 0em;
    position: absolute;
    width: 0em;
    height: 0em;
}

/* end toots*/
