<!DOCTYPE html>
<html lang="en">

<style>
    article {
          /*top/bottom , right/left */
        padding: 5% 5% ;
        background-color: #FFFFFF;
        border-style: solid;
        border-color: black;
    }
        </style>
<head>
    {% include 'head.html' %}
</head>
<body>
    <header class="page-header">
        <!-- Add this back in when I have a logo
        <a href="/" class="page-header__logo" title="Go home">
            <img src="/assets/avatar.png" alt="" width="48">
        </a>
        -->

        <nav>
            <a href="/">Home</a>
            <!-- <a href="/about">About Me</a> -->
            <a href="/_thoughtghome/">Garden</a>
        </nav>
    </header>
    <main>
        <article>
        {{content}}
    </article>
    </main>
    
    <footer class="page-footer">
        <small>Copyright Laurie Owen, Template by <a href="https://github.com/binyamin/eleventy-garden">binyamin</a></a></small>
    </footer>
</body>
</html>